h1{
    text-decoration: underline overline;
    text-align: center;
    font-size: 50px;
    color: mediumseagreen;
}
h3{
    text-decoration: underline;
    text-align: center;
    font-size: 30px;
    color: mediumseagreen;
}

body{
  background-color: lightsteelblue;

}


table, td{
   border: 0px solid black;
   border-collapse: collapse;
   padding: 50px;
   margin: 120px  auto;
   font-family: Arial, Helvetica, sans-serif;
}

th{
   border: 0px solid black;
   border-collapse: collapse;
   padding: 50px;
   font-size: larger;
}

.trr{
    background-color: #9c9;
}

.tr2{
    background-color: snow;
}